body{
    background-color: #cde6ff;
    background-image: url(images/bg_body.png);
    background-repeat: repeat-x;
    padding-top: 100px;
}
h1 {
    color: #c7aa8a;
    font-size: 2.5em;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}
p {
    font-family: "Palatino Linotype", Baskerville, serif;
    color: #515151;
    line-height: 150%;
    margin-top: 10px;
    margin-left: 80px;
}

h2{
    color: #b1967a;
    font-weight: normal;
    font-family: "Palatino Linotype", Baskerville, serif;
    font-size: 2em;
    border-bottom: 2px solid white;
    background: url(images/bullet_flower.png) no-repeat;
    padding: 0 0 2px 80px;
    margin: 0;
}

.intro{
    color: #6494cc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin-left: 0;
    margin-bottom: 25px;
}